<md-dialog ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Loading ..</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="row" layout-sm="column" layout-align="space-around">
                <p>Please have some patience while processing your request ..</p>
            </div>
            <div class="md-dialog-content" layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular md-mode="indeterminate" md-diameter="90"></md-progress-circular>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>